   
<ul  class="pagination pagination-lg" style="
                 display: flex ;
                 justify-content: center;
                 align-items: center;
                 margin: 35px ">
    

             
                <li class="page-item">
                    <a class="page-link" href="/libro/lista">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/autor/lista">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/editorial/lista">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>