    
<style>

    #imagen-perfil {
        margin-top: 20px;
        width: 200px; /* Cambia este valor al tamaño que prefieras */
        height: 150px; /* Cambia este valor al tamaño que prefieras */
        object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente en el cuadro */
        border-radius: 60px ;

    }
    .centereds .logo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin: 0%;

    }


    .centereds {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5%;
    }


</style>