<style>
    #id{
   display:flex;
   margin: 2%;
   
    }
    .centered {
      
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .centered h2 {
        margin-bottom: 20px; /* Ajusta el valor */
    }

    .centered div {
        margin-top: 20px; /* Ajusta el valoor */
    }



    .centered .logo {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: fit;
    }


    /* logo btn perfil*/
    .centereds .logo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: fill;
    }

    .centereds {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mb-2 {
        font-size: xx-large;
    }

  
    .navbar-nav{
        font-weight: 550;
    }
    .card text-white bg-primary mb-3{
        align-items: center;
        margin-top: 50%;
        display: flex;
        left: 50%;
        transform: translate(-50%,-50%);

        border-radius: 5px;
        background: lightgray
    }



    tbody .table-secondary {

        --bs-table-bg:#ab2f34!important;
    }

    #username-color {
        color:#f3969a;/* Color usuario */
    }
    .btn {
        width: 50%;
    }
    #columna1{
        color:   #f3969a;
    }

    #imagen-perfi {
        margin-top: 20px;
        width: 200px; /* Cambia este valor al tamaño que prefieras */
        height: 150px; /* Cambia este valor al tamaño que prefieras */
        object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente en el cuadro */
        ;
        border-radius: 60px ;

    }
    #imagen-panel{

        margin-top: 50px;
        border-radius: 20%;
    }


</style>
style="  
margin-top: 20px;    width: 200px; /* Cambia este valor al tamaño que prefieras */
height: 150px; /* Cambia este valor al tamaño que prefieras */
object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente en el cuadro */  ;   border-radius: 60px ; 