
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head
        th:replace="/fragments/head :: head">
    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <style th:replace="/fragments/style :: style"></style>

        <div class="contiene" style="background: lightgray;">

            <div class="d-grid gap-2" style="align-items: center;">
                <form class="formulario"  action="/autor/registro" method="POST">
                    <div class="form-group">
                        <label class="mb-2" style="align-items: center">Autor</label> 
                        <br>
                        <input type="text" name="nombre" placeholder="nombre del autor">
                    </div>

                    <button type="submit" class="btn btn-danger text-black">Subir Autor</button>
                </form>
            </div>
            <div class="divVolver">
                <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones text-black">Cancelar</a>
            </div>

            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Éxito 👍</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error 👎</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
