<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head 
        th:replace="/fragments/head :: head">
    </head>
    <div>
        <head>
            <title>Index</title>   
                   <link rel="stylesheet" href="/inicio.css">
        </head>
    </div>
 
    <body>
       <nav th:replace="/fragments/navbar :: nav"></nav>
       
         <div class="centered">
                <img id="logoYazmin" src="LogoYazmin.png" alt="Logo Yazmin">
          </div>
       
         <fieldset >
                        <h1 class="saludo" th:if="${session.usuariosession != null} ">
                            Hola »<span class="username-color" th:text=" ${session.usuariosession.userName}"></span>« 
                        </h1>
                 <div th:if="${session.usuariosession != null and session.usuariosession.imagen != null}">
                   <a class="logoIndex">
                     <img id="logoIndex" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" >
                   </a>
                  </div>

            </fieldset> 
       

           


            <div class="conteiner1" >
                <div class="card text-white bg-primary mb-3 "  style=" max-width: 80rem; align-items: center;  ">
                    <h1 style=" color: black ; font-family: fantasy">Biblioteca</h1>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 50rem; align-items: center;">

                        <div class="card-header" style="max-width: 50rem; align-items: center;">Editorial</div>

                        <div class="card-body">
                            <h4 class="card-title" style="font-family: fantasy">Ver Editoriales</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="card-header  text-black" href="/editorial/lista">seleccionar</a>
                        </div>

                    </div>


                    <div class="card text-white bg-success mb-3" style="max-width: 50rem; align-items: center ; ">
                        <div class="card-header" style="max-width: 50rem; align-items: center;">Autores</div>

                        <div class="card-body" >
                            <h4 class="card-title" style="font-family: fantasy">Ver Autores</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="card-header  text-black" href="/autor/lista" >seleccionar</a>
                        </div>

                    </div>

                    <div class="card text-white bg-danger mb-3" style="max-width: 50rem; align-items: center ; " >
                        <div class="card-header">Libros</div>

                        <div class="card-body">
                            <h4 class="card-title" style="font-family: fantasy">Ver Libros</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="card-header text-black" href="/libro/lista">seleccionar</a>
                        </div>
                    </div>

                </div>
            </div>

     


        <ul th:replace="/fragments/pagination :: ul"></ul>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>
